.banner-home {
    width: 100%;
    display: block;

    &__figure {
        width: 100%;
        position: relative;
    }

    &__info {
        width: 100%;
        max-width: 250px;
        height: 225px;
        position: absolute;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: #FFF;
    }

    &__text,
    &__small,
    &__title {
        width: 100%;
        display: block;
    }


    &__small {
        font-size: 20px;
        text-transform: uppercase;
    }

    &__title {
        font-size: 50px;
        text-transform: uppercase;
        margin: 10px 0;
    }

    &__link {
        width: 100%;
        height: 45px;
        border: 1px solid #FFF;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .slick {
        &-arrow {
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &-prev {
            left: 5px;
        }

        &-next {
            right: 5px;
        }

        &-dots {
            display: flex !important;
            justify-content: flex-end;
            bottom: 10px;
            right: 5px;

            li {
                width: 11px;
                height: 11px;

                &.slick-active {
                    button {
                        background-color: #7A8084;
                    }
                }

                button {
                    width: 11px;
                    height: 11px;
                    display: block;
                    background-color: #FFF;

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    img {
        max-width: 100%;
    }
}

@media (min-width: 999px) {
    .banner-home {

        .slick-track{
            width: 100% !important;
        }

        .slick-cloned{
            display: none;
        }

        .slick-slide {
            &:nth-child(2n){
                .banner-home__figure{
                    flex-direction: row-reverse !important;
                }
            }
        }

        &__figure {
            background-color: #000;
            display: flex !important;
            align-items: center;
        }

        &__imagem,
        &__info {
            width: 50%;
        }

        &__imagem {
            height: 600px;
            object-fit: cover;
            object-position: top center;
        }

        &__info {
            max-width: 250px;
            height: auto;
            position: static;
        }
    }
}