.produto-imagens {
    width: 100%;
    display: block;

    .slick {
        &-arrow {
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &-prev {
            left: 5px;
        }

        &-next {
            right: 5px;
        }
    }

    img {
        max-width: 100%;
    }
}

@media (min-width: 999px) {
    .produto-imagens {
        width: 60%;

        .slick-track {
            width: 100% !important;
            display: flex;
            flex-wrap: wrap;
        }

        .slick-slide {
            width: 50% !important;
        }
    }
}