.header-desktop {
    display: none;
}

@media (min-width: 999px) {
    .header-desktop {
        width: 100%;
        display: block;
        background-color: #FFF;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        padding: 24px 0;

        &__logo {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
        }

        &__acoes {
            display: flex;
        }

        &__navegacao {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__menu {
            display: flex;
            align-items: center;

            li {
                &.active {

                    .header-desktop__link--menu {
                        &::before {
                            content: '';
                            width: 100%;
                            height: 2px;
                            display: block;
                            background-color: #000;
                            position: absolute;
                            bottom: -34px;
                            left: 0;
                        }
                    }

                    .header-desktop__segundo-nivel {
                        display: block;
                    }
                }
            }
        }

        &__segundo-nivel {
            width: 100%;
            display: none;
            background-color: #F4F4F4;
            position: absolute;
            left: 0;
            top: 100%;
            padding: 32px;
        }

        &__container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 1040px;
            margin: auto;
        }

        &__grupo {
            width: 48%;
            display: flex;
            align-items: flex-start;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            &--um {

                ul {
                    width: 50%;

                    li {
                        width: 50%;
                    }
                }
            }

            &--dois {
                width: 100%;

                li {
                    width: 50%;
                }
            }

            &--tres {
                // width: 100%;

                li {
                    width: 100%;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin: 5px 0;
                }
            }

        }



        &--dois {
            ul {
                width: 50%;

                li {
                    width: 50%;
                }
            }
        }

        &__titulo {
            width: 100%;
            display: block;
            margin-bottom: 16px;
            text-transform: uppercase;
        }

        &__link {
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            color: #000;
            text-decoration: none;
            margin: 0 10px;
            position: relative;

            &--menu {
                margin: 0 10px
            }
        }
    }
}