.header-mobile {
    width: 100%;
    display: block;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px 0;

    &.active {
        .header-mobile__menu {
            display: block;
        }
    }

    .grid {
        flex-direction: row;
        justify-content: space-between;
    }

    &__botao {
        font-size: 0;
        background-color: transparent;
        border: 0;

        &--menu {

            span {
                font-size: 6px;
            }
        }

        &--fechar {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -45px;
            top: 0;
            background-color: #FFF;
        }

        &--form-busca {
            width: 40px;
            background-color: transparent;

            i {
                margin: auto;
            }
        }
    }

    &__menu {
        width: 85%;
        height: 100vh;
        display: none;
        background-color: #FFF;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
        position: fixed;
        padding: 0 15px;
        top: 0;
        left: 0;
    }

    &__menuCabecalho {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__link {
        font-size: 12px;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;

        &--menu {
            display: block;
            margin: 12px 0;
        }
    }

    &__busca {
        width: 100%;
        display: flex;
    }

    &__grupo {
        width: 100%;
        height: 32px;
        display: flex;
        border: 1px solid #000;
    }

    &__campo {
        width: calc(100% - 40px);
        border: 0;
        font-size: 14px;
    }

    &__lista {
        width: 100%;
        display: block;
        margin-top: 24px;
    }
}

@media (min-width: 999px) {
    .header-mobile {
        display: none;
    }
}