.lista-produtos {

    width: 100%;
    display: block;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 49%;
        margin: 22px 0;

        &:nth-child(3n) {
            width: 100%;

            .lista-produtos__figure {
                max-height: 260px;
                overflow: hidden;
            }
        }
    }

    &__figure {
        position: relative;

        &:hover {
            .lista-produtos__imagem--verso {
                opacity: 1;
            }
        }
    }

    &__imagem {
        max-width: 100%;
        transition: opacity 0.5s ease-in-out;


        &--verso {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }

    &__nome {
        display: block;
        min-height: 36px;
        font-size: 12px;
        margin-top: 5px;
        text-transform: uppercase;
    }

    &__preco {
        display: flex;
        flex-direction: column;
        font-size: 12px;

        &--de {
            font-weight: bold;
        }
    }

    &__botao {
        display: none;
    }
}

@media (min-width: 999px) {
    .lista-produtos {
        &__item {
            width: 25%;
            &:nth-child(3n){
                width: 25%;
                .lista-produtos__figure{
                    max-height: unset;
                }
            }
        }

        &__ &__botao {
            width: 100%;
            max-width: 105px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #000;
            background-color: transparent;
            text-transform: uppercase;
            font-size: 14px;
            margin-top: 5px;
        }
    }
}