.newsletter {
    width: 100%;
    display: block;
    background-color: #000;
    padding: 32px 0;

    &__titulo,
    &__texto {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 12px;
        color: #FFF;
    }

    &__texto {
        font-weight: 300;
    }

    &__form {
        width: 100%;
        display: block;
    }

    &__grupo {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__campo,
    &__botao {
        width: 100%;
        height: 35px;
        display: block;
        margin: 5px 0;
        padding: 0 10px;
        box-sizing: border-box;
    }

    &__campo {
        color: #FFF;
        background-color: transparent;
        border: 1px solid #FFF;
    }

    &__botao {
        background-color: #FFF;
        border: 0;
    }
}

@media (min-width: 999px) {
    .newsletter {
        background-color: #E5E5E5;

        .grid{
            width: 80%;
            margin: auto;
            flex-direction: row;
            justify-content: flex-end;
        }

        &__container{
            width: 100%;
            display: flex;
            max-width: 900px;
            justify-content: space-between;
        }

        &__titulo,
        &__texto {
            color: #000;
            text-align: left;
        }

        &__titulo {
            font-size: 23px;
        }

        &__form{
            max-width: 405px;
        }

        &__grupo{
            flex-direction: row;
        }

        &__campo,
        &__botao{
            height: 30px;
        }

        &__campo{
            background-color: #FFF;
            color: lightgrey;
        }

        &__botao{
            max-width: 100px;
            background-color: #000;
            color: #FFF;
        }
    }
}