.icones {
    display: block;
    background-image: url('./../images/sprites.png');

    &__menu {
        width: 16px;
        height: 14px;
        background-position: -47px -139px;
    }

    &__busca {
        width: 13px;
        height: 14px;
        background-position: -83px -139px;
    }

    &__sacola {
        width: 14px;
        height: 15px;
        background-position: -148px -89px;
    }

    &__whatsapp {
        width: 23px;
        height: 23px;
        background-position: -57px -10px;
    }

    &__estrela {
        width: 27px;
        height: 25px;
        background-position: -10px -10px;
    }

    &__fechar {
        width: 19px;
        height: 19px;
        background-position: -87px -98px;
    }

    &__mapa {
        width: 15px;
        height: 20px;
        background-position: -148px -10px;
    }

    &__telefone {
        width: 20px;
        height: 20px;
        background-position: -100px -45px;
    }

    &__sacola-desktop {
        width: 20px;
        height: 23px;
        background-position: -10px -55px;
    }

    &__login {
        width: 18px;
        height: 21px;
        background-position: -10px -98px;
    }

    &__busca-desktop {
        width: 21px;
        height: 21px;
        background-position: -50px -55px;
    }
}