.produtos-similares {
    width: 100%;
    display: block;
    margin-bottom: 32px;

    &__titulo {
        width: 100%;
        height: 75px;
        background-color: #000;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
    }

    &__lista {
        width: 100%;
        display: flex;

        .lista-produtos__item {
            width: 50%;
            margin: 0pt;
        }
    }
}

@media (min-width: 999px) {
    .produtos-similares{
        display: none;
    }
}