.banner-home-categoria {
    &__lista {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        display: block;
        margin: 8px 0;
    }

    &__cartao {
        width: 100%;
        display: block;
        position: relative;

        &:hover {
            .banner-home-categoria__nome {
                background-color: rgba($color: #000000, $alpha: 0.7);
            }
        }
    }

    &__imagem {
        max-width: 100%;
    }

    &__nome {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.7s ease-in-out;
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        color: #FFF;
        font-size: 18px;
        text-transform: uppercase;
    }
}

@media (min-width: 999px) {
    .banner-home-categoria {

        margin: 72px 0;

        .grid {
            max-width: 720px;
            margin: auto;
        }

        &__lista{
            flex-direction: row;
            justify-content: space-between;
        }

        &__item{
            width: 49%;
        }

        &__imagem{
            display: block;
            margin: auto;
        }
    }
}