.informacao-produto {
    width: 100%;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;

    &__codigo {
        display: block;
        font-size: 9px;
        color: #575757;
        margin-bottom: 8px;
    }

    &__nome {
        display: block;
        font-size: 16px;
        color: #000;
        margin-bottom: 12px;
    }

    &__preco {
        font-size: 12px;

        &--por {
            font-weight: bold;
        }
    }

    &__barra-fixa {
        width: 100%;
        height: 51px;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
    }

    &__select {
        border: 0;
        font-size: 10px;

        &--tamanho {
            width: 30%;
            border-right: 1px solid #000;
        }

        &--cor {
            width: 20%;
        }
    }

    &__botao {
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 32px;
        align-items: center;
        background-color: #000;
        border: 0;
        color: #FFF;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;

        &--fixo {
            width: 50%;
            margin-top: 0;
        }
    }

    &__detalhes {
        width: 100%;
        display: block;
        padding: 15px;

        border: {
            top: 1px solid lightgray;
        }

        &[open] {
            .informacao-produto__titulo {
                &::after {
                    width: 10px;
                    height: 1px;
                    background-position: -183px -70px;
                }
            }
        }
    }

    &__titulo {
        position: relative;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            display: block;
            background-image: url('./../../assets/images/sprites.png');
            background-position: -183px -40px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 5px;
            margin: auto;
        }
    }
}



@media (min-width: 999px) {
    .informacao-produto {
        width: 25%;
        position: sticky;
        top: 55px;

        &__barra-fixa {
            position: static;
            margin-top: 32px;
        }

        &__select {
            width: 50%;
            border: 1px solid lightgray;
        }

        &__botao {
            &--fixo {
                display: none;
            }
        }
    }
}