.carousel-produtos {
    width: 100%;
    display: block;
    margin: 24px 0;

    &__titulo {
        width: 100%;
        display: block;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 24px;

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            display: block;
            background-color: #000;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        span {
            font-weight: bold;
            position: relative;
            z-index: 1;
            background-color: #FFF;
            padding: 0 10px;
        }
    }

    .lista-produtos__item {
        width: 100%;
        list-style: none;
        margin: 0;
    }

    .slick {
        &-arrow {
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &-prev {
            left: 0;
        }

        &-next {
            right: 0;
        }

    }

}