.footer {
    width: 100%;
    display: block;

    &__copyRight {
        width: 100%;
        display: block;
        padding: 16px 0;
    }

    &__texto {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
}

.navegacaoMobile {
    width: 100%;
    display: block;
    background-color: #000;

    &__accordion {
        width: 100%;
        display: block;
        padding: 15px;

        border: {
            top: 1px solid lightgray;
            bottom: 1px solid lightgray;
        }



        &[open] {
            .navegacaoMobile__titulo {
                margin-bottom: 10px;

                &::after {
                    width: 10px;
                    height: 1px;
                    background-position: -183px -70px;
                }
            }
        }
    }

    &__titulo {
        color: #FFF;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        font-size: 14px;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            display: block;
            background-image: url('./../../assets/images/sprites.png');
            background-position: -183px -40px;
            filter: invert(1);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 5px;
            margin: auto;
        }
    }

    &__texto {
        color: #FFF;
    }
}


@media (min-width: 999px) {
    .footer {
        &__texto {
            color: #7C7C7C;
        }
    }
}