.produto-por-clientes {
    width: 100%;
    display: block;
    margin-top: 16px;

    &__secao {
        width: 100%;
        display: block;
        margin: 24px 0;
    }

    &__titulo {
        width: 100%;
        display: block;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 17px;
        margin-bottom: 8px;

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            display: block;
            background-color: #000;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        span {
            position: relative;
            z-index: 1;
            background-color: #FFF;
            padding: 0 10px;
        }
    }

    &__texto {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 16px;
    }

    &__form,
    &__campo {
        width: 100%;
        display: block;
    }

    &__campo {
        resize: unset;
        height: 97px;
        padding: 8px;
        box-sizing: border-box;
        margin-top: 16px;
        border: 1px solid #707070;
    }

    &__botao {
        width: 100%;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-top: 16px;
        color: #FFF;
        background-color: #000;
        border: 0;
    }
    
}

@media (min-width: 999px) {
    .produto-por-clientes{
        display: none;
    }
}