.produto-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 999px) {
    .produto-principal {
        flex-direction: row;
        align-items: flex-start;
        // justify-content: space-between;
    }
}