.cabecalho-categoria {
    display: none;
}

@media (min-width: 999px) {
    .cabecalho-categoria {
        width: 100%;
        height: 525px;
        background-color: #f7fafc;
        display: flex;
        align-items: center;
        background-image: url('./../../assets/images/bg-seo.png');
        background-repeat: no-repeat;
        background-position: center;

        &__container {
            width: 50%;
            display: block;
        }

        &__info {
            width: 100%;
            max-width: 550px;
            display: block;
            margin: auto;
            text-align: center;
        }

        &__titulo {
            display: block;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: bold;
        }

        &__text {
            display: block;
            font-size: 11px;
            line-height: 1.4;
        }

        &__lista {
            display: flex;
            margin-top: 16px;
        }

        &__link {
            margin: 0 5px;
            color: #000;
        }
    }
}